/* to check the finished item */
.checked {
  text-decoration: line-through red;
  
}
.body{
  background-color: aquamarine;
}
input {
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  color: #111111

}
h1{
  text-align: center;
}
/* form{
  text-align: center;
} */

/* .btn btn-outline-secondary{
  border: blueviolet;
} */
p{
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  user-select: none;
}
/* p :hover {
  background-color: black;
} */

/* .labelX{
  background-color: blueviolet;

} */
/* .input-group-append{
  background-color:greenyellow
} */

body {
  background: #111111;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

input[type = checkbox] {
  display: none;
}

input + label {
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--blue);
  border-radius: 50%;
  background: var(--darkblue);
  transition: .1s all;
  cursor: pointer;
  z-index: 999 !important;
}

input + label:hover {
  transform: scale(.5);
}

input + label:after {
  content: "🤜";
}

input:checked + label {
  background: var(--blue);
  transform: scale(.90);
}

input:checked + label:hover {
  background: var(--blue);
  transform: scale(.90);
}

input:checked + label:after {
  content: "👍";
} */